@media screen and (min-width:1501px){
.menu__icon{
  display: none;
}  
.main-contact{
  padding-left: 13%;
}
.info-element{
  padding-left: 30%;
}

}


@media screen and (max-width:1500px){
.wrap{
  margin-left: -85px;
}
 
.header__col--stretch{
  flex-direction: column;
}
.menu__icon{
  display: none;
}
.navigation__link--fix{
  margin: 0;
}
.img{
  margin-left: -85px;
}
.footer__text{
  margin-right: 15px;
  margin-bottom: 50px;
}
.header-contact{
  flex-direction: column;
} 

.main-contact{
  margin: 20px;
}
   
.footer-contact{
  padding: 23px 30px;
}
.author{
  padding-right: 0;
}

}
@media screen and (max-width:830px){

.header{
  margin-top: -70px;
}
.header__col{
  padding-right: 40px;
}
.menu{
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: -15px;
}
.menu__icon{
  display: inline-block;
  position: fixed;
  top: 16px;
  right: 0px;
}


.menu_state_open .menu__icon{
  display: none;
}
.menu__icon-line{
  width: 40px;
  height: 2px;
  background-color: black;
  position: relative;
  display: block;
}
.menu__icon-line:before,
.menu__icon-line:after{
  content: '';
  width: 100%;
  position: absolute;
  height: 9px;
  background-color: #333333;
  right: 0px;
  top: -14px;
  border-radius: 9px;
  opacity: 1;
 

}
.menu__icon-line:after{
  top: auto;
  bottom: -14px;
  
}

   
.navigation{
  position: fixed;
  display: none;
  top: -5px;
  right: 0;
      /* left: 0; */

  background-color: rgb(51, 60, 70);
  z-index: 1000;
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
}
.menu_state_open .navigation {
  display: block;  
  height: 100%;
}
.navigation__menu{
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.navigation__menu:first-child{
  margin-top: 48px;
}
/* .navigation__link--active {
  border-top-color: none;
} */
.navigation__item{
  line-height: 90px;
      
      /* border-top: 1px solid; */
}
.navigation__item:hover{
  transition-duration: 0.5s;
  background-color: aqua;

}
    
.navigation__link {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.menu_state_open .navigation__link-close{
  color: white;
  font-size: 36px;
  text-decoration: none;
  display: block;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: coral;
  text-align: center;
}  
.menu_state_open .navigation__link-close:hover{
  color: black;
}
.navigation__link:hover 
{
  border:none;
  margin-bottom: 3px;
}

.navigation__link--fix{
  margin: 0;
}
     
.img{
  height: 60%;
  margin-top: 170px;
}
.footer__text{
  text-align: center;
  margin-left: -50px;
}
.mainer-blog{
  flex-direction: column;
  margin-right: 30px;
}
.content_info_example{
  word-break: break-all;
}

.footer-contact{
  text-align: center;
}
}
@media screen and (max-width:500px){
body{
  width:100%;

}

.header__col{
  padding: 0;
}
.mainer--fix{
  flex-direction: column;
  align-items: center;
  height: 100%;
  word-break: break-all;
}
.footer__text{
  text-align: center;
}  
.img{
  height: 25%;
  margin: 0;
}
.mainer-blog{
  margin-right: 30px;
}

.main-contact{
  flex-direction: column;
  text-align: center;
}
.form{
  padding-right: 50px;
  padding-bottom: 50px;
}
.info-element{
  display: contents;
 
}
.content_title{
  padding-right: 30px;
}

.footer-contact{
  flex-direction: row;
  margin-left:-100px;
}
.logo{
  padding: 0 15px ;
}
.author{
  word-break: initial;
  margin-right: -90px;
}


}